		*{margin:0px;padding:0px;}
	
	  .body-title{
	    width:1200px;height:40px;
			margin:0 auto;
			margin-top:20px;
		}
	    .body-title>ul>li{
      float:left;list-style:none;
		  width:206px;height:40px;
		  margin-right:30px;
			}
      .body-title>ul>li>span{
			float:left;
			width:40px;
			height:40px;
			}
		  .body_title-1{
			float:left;
		  width:206px;
			height:40px;
			margin-left:50px;
			margin-top:-38px;
			}
		  .body-title>ul>li>a>h4{
			float:left;
			color:rgb(50,50,50);
			}
	    .body-title>ul>li>a>p{
			float:left; 
      font-size:13px;
			color:rgb(153,153,153);
			}
    .body-title-1{
			background:url(../img/common_z.png) no-repeat -244px -100px;
			}
		.body-title-2{
			background:url(../img/common_z.png) no-repeat -244px -50px;
			}
		.body-title-3{
			background:url(../img/common_z.png) no-repeat -244px 0px;
			}
		.body-title-4{
			background:url(../img/common_z.png) no-repeat -150px -184px;
			}
    .body-title-5{
			background:url(../img/common_z.png) no-repeat -100px -184px;
			}
		.body_img{
			display:flex;
			justify-content:center;
			margin-top:50px;
			}
    .body_img>li{
			display:inline-block;
			width:238px;
			height:198px;
			border:1px solid #e5e5e5;
			}
		.body_img>li:first-child{
			background-color:#AACC03;
			}
    .body_img>li>span{
			display:block;
			width:70px;height:70px;
			background-color:#000;
			background:url(../img/common_z.png) no-repeat;
			margin:50px auto;
			}
		h3{color:#fff;
			float:left;
			margin-left:76px;
			margin-top:-42px;
			}
		.body_img>li:last-child{
		  overflow:hidden;
		}
		.dongtai{
        display:block;
    	  width:238px;height:198px;
        transition:transform 1s;
        background:url(../img/comic_choose_flowers.jpg) no-repeat;
			}
		.dongtai:hover{
        transform:scale(1.1);
			}
	    .love-flower{
		  width:1200px;height:676px;
		  margin:0 auto;
		  margin-top:60px;
		}
		.love-flower-title{
		  width:1180px;height:22px; 
		}
		a>h4{
		  float:left;
		  color:rgb(50,50,50);
		}
		.love-flower-title>p{
		  float:left;
		  margin-left:25px;
		  font-size:13px;
		  color:rgb(153,153,153);
		}
		.love-more-title{
		  text-decoration:none;
		  font-size:15px;
		  float:right;
		  color:rgb(153,153,153);
		}
		.love-more-title:hover{
		  font-size:15px;
		  float:right;
		  color:#dc6612;
		}
		.love-flower>div:nth-child(2){
		  width:243px;height:639px;
			background:#ffc0bb;
		}		  
		.love-flower>div:nth-child(2)>div>a{
		    display:inline-block;
			width:190px;height:48px;
			border:1px solid #fff;
            color:#fff;
			text-decoration:none;
            text-align:center;
			line-height:45px;
            margin:59px 24px;
		}
		.lage-img{
		  float:left;
		}
		.flower-img{
		  float:left;
		  width:957px;height:638px;
	    }
		.flower-img>ul{
		  display:flex;
		}
		.flower-img>ul>li{
			display:inline-block;
		  list-style:none;
		}
    .flower-img>ul>li>a{
		  display:inline-block;
		  width:240px;height:320px;
		  text-decoration:none;
		  font-size:12px;
		  color:#737373;
		  text-align:center;
		  vertical-align:middle;
		  border:1px solid #e5e5e5;
		  box-sizing:border-box;
		}
    .flower-img>ul>li>a>img{
		  width:220px;height:240px;
		  margin:9px;
		}
    .flower-img>ul>li>a>p{
		  text-align:center;
		}
	.cake-title{
	    width:1180px;height:22px;
		margin:0 auto;
	}
	.cake-title>div{
	   display:inline-block;
	   width:33%;
	}
	.cake-title>div:nth-child(2)>p{
	  display:inline-block;
	}
	.cake-title>div:nth-child(3)>a{
	  float:right;
	}
	.cake-title>div>p{
	  font-size:12px;
	  color:rgb(100,100,100);
	}
	.cake-city{
	  position:relative;
	  visibility:hidden;
	} 
	.cake-city:hover{
	  visibility:visible;
	} 
	.cake-city>a,
	.cake-city>p{
	  visibility:visible;
	}
	.cake-hidden{
	  position:absolute;
	  border:2px solid rgb(255,106,0);
	  text-align:center;
	  width:400px;
	  height:380px;
	  background-color:#fff;
	}
	.cake-title>div>a,
	.cake-hidden>a
	{
	  text-decoration:none;
	  color:rgb(100,100,100)
	}
	.cake-hidden>a{
	  margin-top:23px;
      display:block;
	}
	.cake-hidden>a>table{
	  width:400px;
	  font-size:15px;
	}
	.cake-hidden>p{
	 margin-top:10px;
	}
	.cake-hidden>p:nth-child(2){
	  background-color:rgb(200,200,200);
	}
	.cake-hidden>input{
	  display:inline-block;
	  width:300px;height:28px;
      margin-top:60px;
	}
	.cake-img{
	  width:1200px;
	  height:676px;
	  margin:0 auto;
	  margin-top:30px;
	}
    .cake-img-title{
	  width:243px;
	  height:639px;
	  float:left;
	  position:relative;
	}
	.cake-img-title>a:first-child{
	  display:block;
	  width:243px;
	  height:320px;
	}
    .cake-img-title>a:nth-child(2){
	  display:inline-block;
	  position:absolute;
	  width:223px;
	  height:64px;
	  text-align:center;
	  margin-left:9px;
	  background-color:#754c40;
	  line-height:64px;
	  top:240px;
	  border:2px solid #fff;
	  color:#fff;
	  font-size:20px;
	  text-decoration:none;
	  border-radius:5%;
	}
	.cake-left-city{
	  border:1px solid rgb(217,217,217);
	}
	.cake-left-city>span:first-child{
	  display:inline-block;
	  width:216px;
	  height:111px;
	  margin-left:12px;
	  margin-right:12px;
	  margin-top:10px;
	  border-bottom:1px solid rgb(217,217,217);
	}
    .cake-left-city>span>p{
	  color:rgb(255,106,0)
	}
	.cake-left-city>span>a{
	  display:inline-block;
	  text-decoration:none;
	  font-size:12px;
	  color:rgb(115,115,115);
	  margin-right:5px;
	  padding-top:8px;
	}
    .cake-left-city>span:nth-child(2){
	  display:inline-block;
	  width:217px;
	  height:161px;
	  margin-left:12px;
	  margin-bottom:23px;
	  margin-top:10px;
	}
    .cake-left-city>span>a:hover{
	  color:rgb(255,106,0);
      text-decoration:underline;
	}
	.cake-jpg{
	  float:left;
	  width:957px;
	  height:638px;
	}
    .cake-jpg>a{
	text-decoration: none;
	}
	.cake-jpg>a>ul{
	  display:flex;
	}
	.cake-jpg>a>ul>li{
	    float:left;
      width: 240px;
      height: 320px;
	    list-style:none;
      font-size: 12px;
      color: #737373;
      text-align: center;
      vertical-align: middle;
      border: 1px solid #e5e5e5;
      box-sizing: border-box;
	}
	.evaluate-title{
	  width:1200px;
	  height:292px;
	  margin:0 auto;
		display:flex;
		margin-bottom:30px;
	}
	.evaluate-left{
	  width:240px;
	  height:292px;
	  background-color:#f2f2f2;
	}
    .evaluate-left>h5,
	.evaluate-center>h5,
	.evaluate-right>h5{
	  display:inline-block;
	  width:240px;
	  height:25px;
	  font-size:15px;
	  padding-top:5px;
	  background-color:rgb(155,155,155);
	}
	.evaluate-center>h5,
	.evaluate-right>h5{
	  width:470px;height:25px;
	}
	.evaluate-left>h5>p,
	.evaluate-center>h5>p,
	.evaluate-right>h5>p{
	  float:right;
	  width:17px;
	  height:17px;
	  text-align:center;
	  line-height:17px;
	  margin-right:13px;
	  border-radius:50%;
	  color:rgb(150,150,150);
	  background-color:#fff;
	}
	.evaluate-left>a{
	  text-decoration:none;
	  font-size:13px;
	  color:rgb(100,100,100);
	}
	.evaluate-left>a>ul>li{
	  display:inline-block;
	  padding-top:23px;
	  margin-left:13px;
	}
	.evaluate-center,
	.evaluate-right{
	  width:470px;height:292px;
	  margin-left:10px;
	  background-color:#f2f2f2;
	}
	.evaluate-center>ul>li{
	  display:inline-block;
	  width:440px;height:57px;
	  margin-left:10px;
	  border-bottom:1px solid #e2e2e2;
      padding:15px 10px;
	}
	.evaluate-center>ul>li>a{ 
	  float:left;
	  width:50px;height:57px;
	  color:#737373;
	  font-size:12px;
	  text-decoration:none;
	}
	.evaluate-center>ul>li>a>img{
	  width:40px;height:40px;
	  margin-bottom:3px;
	  vertical-align:middle;
	}
	.evaluate-center>ul>li>span{
	  display:inline-block;
	  width:350px;
	  height:23px;
	  margin-left:20px;
	}
	.evaluate-center>ul>li>span>i{
	  display:inline-block;
	  width:70px;height:16px;
	  font-style:normal;
	  background:url(../img/common_z.png) no-repeat 0 -352px;
	}
    .evaluate-center>ul>li>span>b{
	  font-weight: normal;
      font-size: 12px;
      color: #737373;
      float: right;
	}
	.evaluate-center>ul>li>a:last-child{
	  display: inline-block;
      width: 250px;
      height: 35px;
      margin-left: 20px;
	}
    .evaluate-right>a>ul{
	  float:left;
      margin-left:25px;
	}
	.evaluate-right>a>ul>li{
	  font-size:13px;
	  color:rgb(100,100,100);
	  padding:13px 5px;
	}
	.evaluate-right>a>ul>li:hover,
	.evaluate-left>a>ul>li:hover{
	  color:rgb(255,106,0);
	}