#login{
    width:1263px;
    height:488px;
    margin:0 auto;
    background:url(../img/login_bg.jpg) no-repeat -325px 0px;
  }
#login>.login{
  width:420px;
  height:408px;
  background-color:#fff;
  float:right;
  margin-right:118px;
  margin-top:39px;
}  
#login>.login>div>a{
  display:inline-block;
  font-size:20px;
  width:100px;height:44px;
  margin-left:55px;
  margin-top:15px;
}
#login>.login input,
#login>.login>a:last-child{
  display:inline-block;
  width:304px;
  height:40px;
  margin-left:40px;
  margin-top:10px;
}
#login>.login>a:last-child{
  font-size:20px;
  text-align:center;
  background-color:#FF6A00;
}